.navbar {
    background: linear-gradient(90deg, rgb(28,27,27) 0%, rgb(26, 23,23) 100%);
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 1500px;
}

.navbar-logo {
    color: var(--white-color);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    font-size: 3rem;
    display: flex;
    align-items: center;
}

.nav__logo-icon {
    margin-left: 10px;
}

.btnOpenMenu {
    margin-left: 0.5rem;
    font-size: 3rem;
    color: var(--white-color);
}

/* navbar menu */
.nav-menu  {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
    overflow: hidden;
}

.nav-item {
    height: var(--header-height);
}

.nav-links {
    color: var(--white-color);
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    height: 100%;
}

.nav-links:hover {
    border-bottom: 4px solid var(--white-color);
    transition: all 0.2s ease-out;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

/* Resposive  */
@media screen and (max-width: 960px) {
    .nav-item {
        position: relative;
        font-size: 2rem;
    }
    
      .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: calc(var(--header-height) + 2px);
        left: -100%;
        opacity: 0;
        padding: 10px;
        transition: all 0.5s ease;
      }
    
      .nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        padding: 10px 0;
        transition: all 0.5s ease;
        z-index: 1;
        
      }
    
      .nav-links {
        justify-content: center;
        padding: 2rem;
        width: 100%;
        display: flex;
        align-items: center;
      }
    
      .nav-links:hover {
        background-color: #fff;
        color: #242424;
        border-radius: 0;
      }
    
      .navbar-logo {
        position: absolute;
        user-select: none;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
      }
    
      .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
      }
    
      .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        color: var(--white-color);
        padding: 14px 20px;
        border: 1px solid var(--white-color);
        transition: all 0.3s ease-out;
      }
    
      .nav-links-mobile:hover {
        background: var(--white-color);
        color: #242424;
        transition: 250ms;
      }
}